html,
body {
  margin: 0;
  height: 100%;
  color: black;
}

body {
  background-color: antiquewhite;
  header {
    h1 {
      font-size: 50px;
      text-align: center;
    }
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    button {
      background-color: white;
      border: 0;
      width: 20%;
      border-radius: 18px;
      font-size: xx-large;
      cursor: pointer;
      transition: all 0.25s ease-in-out;
      &:hover {
        color: black;
      }
    }
    #myInput {
      border-radius: 18px;
      outline: none;
      width: 75%;
      height: 100px;
      font-size: xx-large;
      margin: 0px 10px;
    }
  }
}
ol {
  width: 70%;
  color: white;
  font-size: 50px;
  list-style: none;

  li {
    display: flex;
    align-items: end;
    span {
      cursor: pointer;
      color: black;
      text-align: end;
    }
    .done {
      text-decoration: line-through green;
      opacity: 0.5;
    }
    .delete-button {
      width: 100px;
      height: 35px;
      border-radius: 18px;
      cursor: pointer;
      margin-left: 10px;
      font-size: 18px;
      transition: all 0.25s ease-in-out;
      &:hover {
        background-color: white;
      }
    }
  }
}
